/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  width: 12rem;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill:hover {
  animation: bounce_614 0.4s linear;
}

.skill img {
  max-height: 60px;
  max-width: 60px;
  padding: 20px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 30px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

/* Projects */

.projects-container {
  margin: auto;
  padding-bottom: 100px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
}

.project-card {
  margin: auto;
}

.project-card h3 {
  font-size: 25px;
}

.project-card li {
  font-size: 20px;
}

/* Certifications */

.paper {
  border: 1px solid gray;
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
  padding: 10px;
  max-width: 95%;
  width:60rem;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.link {
  color: #707070;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  color: lightgray;
}