body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#home {
  background-color: #008f7b;
  padding-top: 3rem;
  padding-bottom: 8rem;
  height: 3rem;
}

#footer {
  background-color: #005e51;
  padding-bottom: 1cm;
  padding-top: 2cm;
  padding-bottom: 3cm;
  height: 5mm;
}

@media screen and (max-width: 1100px) {
  .dh-srink {
    float: right;
    padding-top: 0.75cm;
    padding-right: 3cm !important;
  }
}


@media screen and (max-width: 1100px) {
  .dh-hide {
    display: none !important;
  }
}

@media screen and (max-width: 1100px) {
  .grey_box {
    width: 90% !important;
  }
  .box {
    width: 90% !important;
  }
  .container {
    width: 90% !important;
  }
}

@keyframes bounce_613 {
  40% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(0.8);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bounce_614 {
  40% {
    transform: scale(1.1);
  }
}

/* Header */

.topmenu {
  vertical-align: auto;
  color: lightgray;
  margin-top: 1rem;
  margin: 1rem;
  padding: 1rem;
  font-size: 20px;
  text-decoration: none;
}

.topmenu:hover {
  color: white;
}

.topdiv {
  float: right;
  padding-top: 2rem;
  padding-right: 7rem;
}

.profile_name {
  padding-left: 3rem;
  float: left;
  color: #e8e8e8;
  font-size: 40px;
}

.profile_name .contact_info {
  padding-top: 0.5rem;
  font-size: 18px;
  font-style: italic;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
  color: white;
}

.contact_info img {
  width: 25px;
  margin-right: 10px;
  float: left;
}

/* Titles */

h2 {
  font-size: 50px;
  color: #008f7b;
}

h3 {
  font-size: 25px;
  color: #343434;
}

h4 {
  color: #343434;
}

p {
  font-size: 20px;
}

/* About Me and Main sections */

.container {
  display: flex;
  max-width: 75%;
  margin: 2rem auto;
}

/* About Me */

.about-me {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
}

#about-me h1 {
  font-size: 65px;
  margin-top: 5rem;
  color: #008f7b;
}

#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1rem;
}

.profile_image {
  width: 20rem;
  height: fit-content;
}

.box {
  display: block;
  border-radius: 10px;
  box-shadow: 0 3px 10px gray;
  text-align: center;
  margin: auto;
  width: 75%;
  font-size: 20px;
}

.box p {
  font-size: 25px;
  color: #343434;
  text-align: left;
  padding: 1cm;
}

.grey_box {
  background-color: #ececec;
  display: block;
  border-radius: 10px;
  box-shadow: 0 3px 10px gray;
  margin: auto;
  width: 75%;
}

.grey_box p {
  width: 82.5%;
  font-size: 1.2rem;
  text-align: left;
  color: #343434;
  padding: 0 2rem;
}

.grey_box h2 {
  font-size: 2.5rem;
  text-align: left;
  width: 80%;
  padding: 1rem 2rem;
}

.grey_box h3 {
  text-align: left;
  width: 80%;
  padding: 0 2rem;
}

/* Columns */

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.column_left {
  flex: 25%;
  text-align: left;
  margin: auto;
}

.column_right {
  flex: 50%;
  text-align: left;
  margin: auto;
}

.column {
  flex: 50%;
  text-align: left;
}

/* Button */

.button_container {
  display: flex;
  max-width: 75%;
  margin: 2cm auto;
}

button {
  margin: auto;
  padding: 2em 3.6em;
  border: 2px solid #008f7b;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #008f7b;
}

button::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #008f7b;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

button:hover::before {
  width: 150%;
}

button:hover {
  color: #ffffff;
}

.button_text {
  vertical-align: auto;
  color: #008f7b;
  margin-top: 20px;
  margin: 10px;
  font-size: 20px;
  text-decoration: none;
}

/* Skills */

.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 10px;
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  width: 12rem;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.skill:hover {
  animation: bounce_614 0.4s linear;
}

.skill img {
  max-height: 60px;
  max-width: 60px;
  padding: 20px;
  align-items: center;
}

.skills h6 {
  align-items: center;
  font-size: 30px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

/* Projects */

.projects-container {
  margin: auto;
  padding-bottom: 100px;
}

.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
}

.project-card {
  margin: auto;
}

.project-card h3 {
  font-size: 25px;
}

.project-card li {
  font-size: 20px;
}

/* Scroll to Top Button */

.iconbutton {
  max-width: 5%;
  border-radius: 100%;
  background-color: #008f7b;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Certifications */

.all_certs {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.cert {
  border: 1px solid gray;
  display: block;
  border-radius: 10px;
  text-align: center;
  margin: 25px;
  padding: 10px;
  width: 6.5cm;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}

.cert:hover {
  animation: bounce_614 0.4s linear;
}

.cert img {
  max-height: 130px;
  max-width: 130px;
  padding: 0.5cm;
  align-items: center;
}

.cert h6 {
  align-items: center;
  font-size: 30px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}

.cert p {
  align-items: center;
  font-size: 20px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}

.link {
  color: #343434;
  font-size: 20px;
  text-decoration: none;
}

.link:hover {
  color: gray;
}

/* Footer */
.card {
  margin: auto;
  display: flex;
  height: 70px;
  width: 270px;
}

.card svg {
  position: absolute;
  display: flex;
  width: 60%;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  opacity: 1;
  transition: opacity 0.25s;
  z-index: 2;
  cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3,
.card .social-link4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  color: whitesmoke;
  font-size: 24px;
  text-decoration: none;
  transition: 0.25s;
  border-radius: 50px;
}

.card svg {
  transform: scale(1);
}

.card .social-link1 img {
  width: 50px;
  height: 50px;
}

.card .social-link1:hover {
  background: #4267b2;
  animation: bounce_613 0.4s linear;
}

.card .social-link2 img {
  width: 50px;
  height: 50px;
}

.card .social-link2:hover {
  background-color: #1da1f2;
  animation: bounce_613 0.4s linear;
}

.card .social-link3 img {
  width: 50px;
  height: 50px;
}

.card .social-link3:hover {
  background-color: #343434;
  animation: bounce_613 0.4s linear;
}

.card .social-link4 img {
  width: 50px;
  height: 50px;
}

.card .social-link4:hover {
  background-color: #0072b1;
  animation: bounce_613 0.4s linear;
}
